@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");
@import url("fonts.css");

html {
    font-size: 10px;
  }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 9.375px;
    }
  }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 10px;
    }
  }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 9.375px;
    }
  }
  html, body {
    height: 100%;
  }
  
  body {
    background: #111111;
    font-family: "librebaskerville-regular", serif;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #353535;
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, h4, h5, h6,
.h01, .h02, .h03, .h04, .h05, .h06 {
  font-family: "montserrat-bold", sans-serif;
  color: #151515;
  font-style: normal;
  text-rendering: optimizeLegibility;
  margin-bottom: 2.1rem;
}

h3, .h03, h4, .h04 {
  margin-bottom: 1.8rem;
}

h5, .h05, h6, .h06 {
  margin-bottom: 1.2rem;
}

h1, .h01 {
  font-size: 3.1rem;
  line-height: 1.35;
  letter-spacing: -.1rem;
}
@media only screen and (max-width: 600px) {
    h1, .h01 {
      font-size: 2.6rem;
      letter-spacing: -.07rem;
    }
  }
  
  h2, .h02 {
    font-size: 2.4rem;
    line-height: 1.25;
  }
  
  h3, .h03 {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  h4, .h04 {
    font-size: 1.7rem;
    line-height: 1.76;
  }
  
  h5, .h05 {
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  
  h6, .h06 {
    font-size: 1.3rem;
    line-height: 1.85;
    text-transform: uppercase;
    letter-spacing: .2rem;
  }
  
  p img {
    margin: 0;
  }
  
  p.lead {
    font-family: "montserrat-regular", sans-serif;
    font-size: 2rem;
    line-height: 1.8;
    color: #4f4f4f;
    margin-bottom: 3.6rem;
  }
  @media only screen and (max-width: 768px) {
    p.lead {
      font-size: 1.8rem;
    }
  }
  
  em, i, strong, b {
    font-size: 1.6rem;
    line-height: 3rem;
    font-style: normal;
    font-weight: normal;
  }
  
  em, i {
    font-family: "librebaskerville-italic", serif;
  }
  
  strong, b {
    font-family: "librebaskerville-bold", serif;
  }
  
  small {
    font-size: 1.1rem;
    line-height: inherit;
  }
  
  blockquote {
    margin: 3rem 0;
    padding-left: 5rem;
    position: relative;
  }
  
  blockquote:before {
    content: "\201C";
    font-size: 10rem;
    line-height: 0px;
    margin: 0;
    color: rgba(0, 0, 0, 0.3);
    font-family: arial, sans-serif;
    position: absolute;
    top: 3.6rem;
    left: 0;
  }